@import url("https://fonts.googleapis.com/css2?family=Calibri:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800&display=swap");


@font-face {
  font-family: 'Fs Emeric';
  src: local('Fs Emeric'), url(../public/fonts/FSEmeric-SemiBold.woff2) format('woff2'), url(../public/fonts/FSEmeric-SemiBold.woff) format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-all duration-100;
}

body {
     @apply font-['Calibri'] text-gray-900 overflow-hidden;
}

h1, h2 {
   font-family: 'Fs Emeric' !important;
}



input[type="checkbox"]:checked ~ svg  {
    @apply block;
}
 
@layer components {

  .container {
    @apply md:w-[1100px] mx-auto px-5 
  }

  .btn:hover {
    @apply opacity-80;
  }

  .page-wrapper {
    @apply relative h-[100vh] overflow-x-hidden overflow-y-auto;
  }


  .form-control {
    @apply w-full border resize-none border-stone-200 focus:outline-0  text-gray-900 rounded-lg px-2 py-2 focus:border-blue-900 ;
  }

    select {
      @apply bg-white appearance-none;
    }

    .form-group {
      @apply relative z-20;
    }

    .form-group svg {
      @apply top-3 text-lg font-bold right-3 absolute text-orange-500;
    }

    .form-group label {
      @apply text-sm
    }

   
   .modal-wrapper {
    @apply overflow-hidden z-[100] overflow-y-auto fixed top-0 h-[100vh] w-full left-0 
  }

  .modal-inner-wrapper {
    @apply flex flex-col items-center sticky top-0 z-[200] justify-center min-h-[100vh] w-full p-5 after:bg-white after:opacity-50 after:z-[100] after:absolute after:top-0 after:right-0 after:left-0 after:min-h-full
  }

  .modal-body {
     @apply rounded-xl bg-white  relative z-[200] md:w-[70%] space-y-5; 
  }

  
  .hide-modal {
    @apply hidden;
  }

  .show-modal {
    /*@apply opacity-100 ;*/
  }

  .error {
    @apply text-xs text-red-600
  }
  
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style:  none;
  scrollbar-width: none;
}
